.texto {
    text-align: center;
    font-size: 45px;
    color: rgb(74, 121, 26);
}
.tt {
    font-size: 40px;
    color: rgb(74, 121, 26);
}

.tt2 {
    font-size: 30px;
    color: rgb(74, 121, 26);
}

.tt3 {
    font-size: 25px;
    color: rgb(74, 121, 26);
}